@media only screen and (max-width: 1240px) {

  #content2 {
    text-align:center;
    width: 100%;
    min-height: 100%;
    padding-top: 0;
  }

  #form {
    position: relative;
    padding-left: 20%;
    margin-top: 0 auto;
  }

  #video {
    width: 560px;
    top: 120px;
  }

     }


@media only screen and (max-width: 600px) {

  iframe {
    position: relative;
    width: 90%;
    height: 300px;
  }

  #content2 {
    text-align:center;
    width: 100%;
    min-height: 100%;
    padding-top: 0;
  }

  #form {
    position: relative;
    padding-left: 5%;
    margin-top: 0 auto;
  }

  #video {
    width: 460px;
    top: 80px;
    padding-right: 1%;
  }
    }

@media only screen and (max-width: 555px) {

  table {
    bottom: 626px;
  }

  th {
    font-size: 0.5em;
  }

  td {
    font-size: 0.3em;
  }

    }

@media only screen and (max-width: 450px) {

  #navbar nav a {
    display: none;
  }

  #navbar nav a.menu-icon {
    display: inline;
    text-align: center;
    float: right;
    padding-right: 30px;
    width: 50px;
  }

  #social {
    position: relative;
    height: 30px;
    bottom: 30px;
    right: 150px;
    z-index: 3;
  }

  iframe {
    position: relative;
    width: 90%;
    height: 300px;
  }

  input, textarea {
    width: 90%;
  }

  input[type="submit"] {
    width: 90%;
  }

  table {
    bottom: 610px;
  }

  #content2 {
    text-align:center;
    width: 100%;
    min-height: 100%;
    padding-top: 0;
  }

  #form {
    position: relative;
    padding-left: 5%;
    margin-top: 0 auto;
    margin-bottom: 40px;
    width: 300px;
  }

  #video {
    width: 360px;
    top: 60px;
    padding-left: 50px;
  }

}
