@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script');

/* This is a comment! */

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

p {
  font-family: 'Helvetica','Arial';
  font-size: 0.6em;
  line-height: 1.5em;
  color: #565656;
}

#content {
  display: block;
  float: right;
  width: 80%;
  height: auto;
  padding: 10px;
  background-color: #c2c2c2;
}

footer {
  font: normal 0.6em/1.5em 'Helvetica', 'Arial';
  color: #565656;
  text-align: left;
  padding-top: 100%;
}

h3 {
  font: bold 2em/1.5em 'Helvetica', 'Arial';
  color: Red;
}

/* Class Selector */
.tittle-text { /* Select elements with class="milk-text" */
  font: bold 2.6em 'Elsie Swash Caps', cursive;
  color: white;
  text-shadow: 0 2px 3px #000;
}

.subtittle-text { /* Select elements with class="milk-text" */
  font: bold 2.6em 'Clicker Script', cursive;
  color: #d8ff00;
  text-shadow: 0 2px 3px #000;
}

#models-list, table {
  background-color: #bdbdbd;
}

/* LINKS */

a {
  font-family: 'Helvetica','Arial';
  text-decoration: none;
  color: #d8ff00;
}

a:hover {
  color: #161616;
  background-color: #d8ff00;
}

.links {
  font-family: 'Helvetica','Arial';
  font-size: 0.6em;
  text-decoration: none;
  color: #d8ff00;
  padding-left: 10px;
}

#contact {
  margin-top: 50px;
  display: block;
}

#AAE {
  margin-top: 50px;
  display: block;
}

.col-1 {
  float: left;
  margin: 1%;
}

/* IMAGES EFFECTS */

.container {
  position: relative;
  width: 30%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #d8ff00;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: #161616;
  font-size: 20px;
  font-family: 'Helvetica','Arial';
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* NAVIGATION */

#nav {
  width:100%;
  height: 80px;
  padding: 10px 10px;
  position: fixed;
  background-color: #161616;
  z-index: 1;
}

#logo {
  background: url(../images/JM_logo.png) no-repeat;
  height: 60px;
  width: 100%;
}
