@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script');

/* This is a comment! */

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

p {
  font-family: 'Helvetica','Arial';
  font-size: 0.6em;
  line-height: 1.5em;
  color: #565656;
}

#left {
  width: 270px;
  height: 100%;
  padding: 30px 30px 0px 30px;
  position: fixed;
  background-color: #161616;
  text-align: justify;
  z-index: 1;
}

.content {
  display: block;
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: #c2c2c2;
  z-index: 0;
}

footer {
  font: normal 0.6em/1.5em 'Helvetica', 'Arial';
  color: #565656;
  text-align: left;
  padding-top: 100%;
}

h3 {
  font: bold 2em/1.5em 'Helvetica', 'Arial';
  color: Red;
}

/* Class Selector */
.tittle-text { /* Select elements with class="milk-text" */
  font: bold 2.6em 'Elsie Swash Caps', cursive;
  color: white;
  text-shadow: 0 2px 3px #000;
}

.subtittle-text { /* Select elements with class="milk-text" */
  font: bold 2.6em 'Clicker Script', cursive;
  color: #d8ff00;
  text-shadow: 0 2px 3px #000;
}

#models-list, table {
  background-color: #bdbdbd;
}

/* LINKS */

a {
  font-family: 'Helvetica','Arial';
  text-decoration: none;
  color: #d8ff00;
}

a:hover {
  color: #161616;
  background-color: #d8ff00;
}

.links {
  font-family: 'Helvetica','Arial';
  font-size: 0.6em;
  text-decoration: none;
  color: #d8ff00;
  padding-left: 10px;
}

#contact {
  margin-top: 50px;
  display: block;
}

#AAE {
  margin-top: 50px;
  display: block;
}

.col-1 {
  float: left;
  width: 32%;
}

.col-2 {
  float: left;
  width: 66%;
}

[class*="col-"] {
  margin-left: 2%;
  margin-top: 2%;
}

.first {
  margin-left: 0%;
}
